/*Base*/

body{
  background:url(pdxKarpet.png);
  background-size: cover;
}

h1 {
  font-family: 'Indie Flower', sans-serif;
  /*position:fixed;*/
  top: 70%;
  left: 37.7%;
  color: #00A88E;

}

.footerptag {    /*Footer*/
  font-family: 'Indie Flower', sans-serif;
  font-size: .75em;
  /*position:fixed;*/
  top: 93.7%;
  left: 40%;
  color: #00A88E
}

.main-nav li {
  font-family: 'Indie Flower', sans-serif;
  /*display:inline;*/
  /*position: static;*/
  color: #00A88E
}

ul {
 /*position:fixed;*/
 top: 10%;
 left: 35%;
 color: #00A88E;
 /*text-decoration: none;
 list-style-type: none;*/
}


/*Layout*/

.aboutmep  {
  font-family: 'Indie Flower', sans-serif;
  /*position: fixed;*/
  top: 78%;
  left:4%;
  color: #00A88E
}


.profilepic {
   border-radius: 25%;
   /*position:fixed;*/
   top: 30%;
   left: 36%;
   height: 240px;
   width: 240px;
   }

   .project-section {
    font-family: 'Indie Flower', sans-serif;
    


   }



/*Theme*/

.overlay{
  background-color: rgba(29, 29, 29, 0.9);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

  .template {
    display: none;
  }




/*Module*/

  .template{}



/*State (In responsive.css)*/
