/*Layout*/

h1 {
  font-family: 'Raleway', sans-serif;
  /*position:fixed;*/
  top: 60%;
  left: 40%;
  color: #ffffff;

}

.title-subline {
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 250px;
  /*pointer-events: */

}

.footerptag {
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
  position:fixed;
  top: 95.1%;
  left: 43.5%;
  color: #ffffff;
}

.main-nav li {
  font-family: 'Raleway', sans-serif;
  display:inline;
  color: #ffffff;
}

.main-nav {
  margin-top: 0;
  padding-left: 0;
  width:300px;
  justify-content: space-between;
  display: flex;
  margin-right: 20px;

}

ul {
 /*position: relative;
 top: 10%;
 left: 38%;*/
 color: #00A88E;
}

.logo-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  display: flex;
  width: 300px;
}



.aboutmep  {
  font-family: 'Open Sans', sans-serif;
  /*position: fixed;*/
  top: 70%;
  left:4%;
  color: #666666;

}


.profilepic {
   border-radius: 50%;
   /*position:fixed;*/
   top: 15%;
   left: 41.5%;
   height: 55px;
   width: 55px;
   }

  .tab-content {
     margin:0 auto;

     max-width: 70%;
     text-align: center;
     margin-top: 15%;
   }
.tab-content:nth-of-type(2) {
  display: flex;
}


   .project-section {
   font-family: 'Raleway', sans-serif;
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: 1%;
   margin-bottom: 50px;
   padding: 0.5%;
   background: #817361;
   border-radius: 2em;
}

.projectUrl {
   font-size: .84em;
}


#github {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  /*position:fixed;*/
  top: 82%;
  left: 40%;
}

#repo {
  list-style-type:none;

}

h1 #aboutmetitle {
  /*position: fixed;*/
  top:60%;
  left: 40%;

}




/*Theme*/

header{
  background:url("/styles/thejourney.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  height:300px;
  margin: 0;
}

header.expanded {
  height:800px;
  /*padding:*/
}

header.expanded .title-subline {
  opacity: 1;
}

.smooth {
  /* set animation*/
  -webkit-transition: all .02s ease;
  transition: all 1s ease;
}

body{
  margin: 0;
  background-color: #d3d3d3

}

/*
.overlay{
  background-color: rgba(29, 29, 29, 0.9);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}*/

  .template {
    display: none;
  }

  /*Module -Handles my icons-*/

a {
  color: #ffffff;
  text-decoration: none;

}

/*a:hover {
  text-decoration: underline;
  color:#ffffff;

}*/



/*nav bar hover effect*/

.slide-center-out
{
text-decoration:none;
display: inline-block;
color:white;
}
/* add a empty string after the elment with class .slide-center-out  */
.slide-center-out:after
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;

margin:auto; /* center the cotent so it will sliding from the midddle to the left and right */
}

/* Change the width and background on hover, aka sliding from the middle to the left and right */
.slide-center-out:hover:after
{
width: 100%;
background: white;
}
