/*Layout*/

.logo h1 {
  font-family: 'Raleway';
  color: #ffffff;
  text-decoration: underline;
}

.title-subline {
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 250px;
  }

.footerptag {
  font-family: 'Raleway';
  font-size: .75em;
  text-align: center;
  top: 95.1%;
  left: 43.5%;
  color: #666666;
}

.main-nav li {
  font-family: 'Raleway';
  display:inline;
  color: #ffffff;
}

.main-nav {
  margin-top: 0;
  padding-left: 0;
  width:300px;
  justify-content: space-between;
  display: flex;
  margin-right: 20px;
  color: #ffffff;
  text-decoration: underline;
}



.logo-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  display: flex;
  width: 300px;
}



.aboutmep  {
  font-family: 'Ubuntu', sans-serif;
  top: 70%;
  left:4%;
  color: #666666;
  line-height: 1.4;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  }

.p-repo-border {
  border-style:solid;
  border-color: #666666;
}

.profilepic {
   border-radius: 50%;
   top: 15%;
   left: 41.5%;
   height: 55px;
   width: 55px;
   }

  .tab-content {
     margin:0 auto;

     max-width: 70%;
     text-align: center;
     margin-top: 17%;
     margin-bottom: 17%;
   }

.tab-content:nth-of-type(2) {
  display: flex;
  margin-top: 5%;
}

/*.project-section {

     font-family: 'Ubuntu', sans-serif;
     color:#666666;
     display: flex;
     flex-direction: column;
     width: 30%;
     margin: 1%;
     margin-bottom: 50px;
     padding: 0.5%;
     background:#ffffff;
     border-radius: 2em;
     }*/

.projectUrl a {
   font-size: .84em;
   text-decoration: none;
}

#project-title h1 {
font-family: 'Ubuntu', sans-serif;
 text-decoration: underline;
 color: #ffffff;
 text-align: center;
 margin-top: 5%;
 font-size: 24px;
 letter-spacing:3px;
}

#about-title h1 {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
  letter-spacing:3px;
}

.title a {
  text-decoration: none;
  color:#666666;
}

#repo a {
  text-decoration: none;
  color:#666666;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  right: 2.7%;
}


/*Theme*/

header{
  background:url("/styles/mt-sunset.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  height:300px;
  margin: 0;
}

header.expanded {
  height:800px;
}

header.expanded .title-subline {
  opacity: 1;
}

.smooth {


  -webkit-transition: all .02s ease;
  transition: all 1s ease;
}

body{
  margin: 0;
  background-color:#000000;
}



/*nav bar hover effect*/

.slide-center-out
{
text-decoration:none;
display: inline-block;
color:white;
}
/* add a empty string after the elment with class .slide-center-out  */
.slide-center-out:after
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;

margin:auto; /* center the cotent so it will sliding from the midddle to the left and right */
}

/* Change the width and background on hover, aka sliding from the middle to the left and right */
.slide-center-out:hover:after
{
width: 100%;
background: white;
}
