/*mobile*/
@media all and (max-width : 725px) {
section#articles.tab-content {
    flex-direction: column;
    justify-content: space-around;
  }
  .project-section {
    width: 80%;
  }
  .logo-nav {
    flex-direction: column;
  }
}
@media all and (max-width : 480px) {}
